In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats

In [5]:
fn = "output/wikipedia_metrics.csv"
df = pd.read_csv(fn)

In [6]:
df.head()

             title  edits       size  users
0          50_Cent  13066  518204129   4557
1            Adele   6725  456912673   2672
2   Angelina_Jolie   7336  531496219   2902
3  Backstreet_Boys  10270  412497115   4050
4      Ben_Affleck   9263  906521569   3655